<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>File Upload Application</display-name>
	<description>
    </description>

	<servlet>
		<servlet-name>fileUploadServlet</servlet-name>
		<servlet-class>com.cadence.util.fileUpload.servlet.FileUploadServlet</servlet-class>

		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>fileUploadServlet</servlet-name>
		<url-pattern>/fileUploadServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>folderUploadServlet</servlet-name>
		<servlet-class>com.cadence.util.fileUpload.servlet.FolderUploadServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<multipart-config>
			<location>c:/Uploads</location>
			<max-file-size>20848820</max-file-size>
			<max-request-size>418018841</max-request-size>
			<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>folderUploadServlet</servlet-name>
		<url-pattern>/folderUploadServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.cadence.util.fileUpload.servlet.UploadServlet</servlet-class>
		<multipart-config>
			<location>c:/Uploads</location>
			<max-file-size>20848820</max-file-size>
			<max-request-size>418018841</max-request-size>
			<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>


</web-app>